*,
::after,
::before {
    margin: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: rgb(27, 217, 211);
    margin-bottom: 20px;
    margin-top: 20px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

.row__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

figcaption {
    text-align: center;
    font-size: 18px;
    padding: 3px;
}
.text {
    font-size: 25px;
    font-weight: 600;
}

figure {
    background-color: #eee;
    padding: 10px;
}

@media screen and (max-width: 700px) {
    .row__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .row__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
